.App {
  text-align: center;
}

button {
  padding: 15px;
  font-size: 30px;
  border-radius: 8px;
  border: 0;
  margin: 20px;
  cursor: pointer;
}

button:active {
  background-color: rgb(201, 201, 201);
  transform: translateY(1.2px);
}

h1 {
  font-size: 70px;
  margin-top: 20px;
  cursor: default;
}

form {
  font-size: 30px;
}

input {
  font-size: 25px;
  margin: 15px;
  padding: 10px;
}

label {
  display: block;
}
